*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
img{
  width: 100%;
  height: auto;
}
/* Nav.js */
.nav-list{
  display: flex;
  align-items: center;
}
.img{
  width: 45px;
  display: flex;
}
.menu-icon{
  display: none;
  font-size: 25px;
}
.msg-sm{
  display: none;
}
.nav-list.active{
  left: 0;
}
/* Nav.js */

@media screen and (max-width: 900px){
  /* Nav.js */
  .nav-list{
    width: 250px;
    height: 100vh;
    position: fixed;
    top: 0;
    left: -250px;
    display: flex;
    align-items: center;
    flex-direction: column;
    transition: .4s ease;
  }
  .nav-list li{
    margin-top: 50px;
    width: 100%;
  }
  .menu-icon{
    display: block;
  }
  .msg-sm{
    display: block;
    margin-top: 10px;
  }
  .msg-bg{
    display: none;
  }
  .close{
    position: absolute;
    top: 0;
    right: 20px;
  }
  /* Nav.js */
}
@media screen and (max-width: 600px){
  /* Nav.js */
  .msg-sm{
    margin-top: 5px;
  }
  /* Nav.js */
}