*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body{
  background-color: rgb(255, 231, 255);
}
img{
  width: 100%;
  height: auto;
}
/* loader */

.loader-bg{
  width: 100%;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}
.loader{
  width: 50px;
  height: 50px;
  border-radius: 50%;
  border: 5px solid white;
  border-left: 5px solid purple;
  animation: loader 1s linear infinite;
}

@keyframes loader {
  0%{
    transform: scale(.5) rotate(0deg);
  }
  50%{
    transform: scale(1) rotate(180deg);
  }
  100%{
    transform: scale(.5) rotate(360deg);
  }
}

/* loader */
/* Nav.js */
.nav-list{
  display: flex;
  align-items: center;
}
.img{
  width: 45px;
  display: flex;
}
.menu-icon{
  display: none;
  font-size: 25px;
}
.msg-sm{
  display: none;
}
.nav-list.active{
  left: 0;
}
/* Nav.js */

/* Dashboard */
.dashboard{
  width: 100%;
  max-width: 1000px;
  margin: 0 auto;
}
.project-list .project-summary{
  padding: 10px 5px 0;
}
.user-info{
  display: flex;
  padding: 10px 10px 10px 5px;
  align-items: center;
  justify-content: space-between;
}
.user-detail{
  display: flex;
  align-items: center;
}
.username{
  margin-left: 5px;
  font-weight: bold;
}
.project-content{
  display: flex;
  justify-content: space-between;
}
/* Dashboard */

/* Login */
.form{
  padding: 10px 30px;
  width: 100%;
  max-width: 600px;
  margin: 0 auto;
  margin-top: 20px;
}
.form h5{
  font-weight: 600;
}
input[type=text]:not(.browser-default):focus:not([readonly]),
input[type=password]:not(.browser-default):focus:not([readonly]),
input[type=email]:not(.browser-default):focus:not([readonly]),
textarea:not(.browser-default):focus:not([readonly]){
    border-color: purple;
    box-shadow: none;
}
/* Login */

/* Profile */
.avatar{
  background-color: rgb(194, 194, 194);
  width: 70px;
  height: 70px;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
}
.avatar-name{
  padding: 0;
  margin: 0;
}
.profile-detail{
  padding: 20px;
}
.project-done-no{
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.project-done-no button{
  margin-left: 20px;
}
/* Profile */

@media screen and (max-width: 900px){
  /* Nav.js */
  .nav-list{
    width: 250px;
    height: 100vh;
    position: fixed;
    top: 0;
    left: -250px;
    display: flex;
    align-items: center;
    flex-direction: column;
    transition: .4s ease;
    z-index: 999999;
    box-shadow: 0 0 10px rgba(0, 0, 0, .2);
  }
  .nav-list li{
    margin-top: 50px;
    width: 100%;
  }
  .menu-icon{
    display: block;
  }
  .msg-sm{
    display: block;
    margin-top: 10px;
  }
  .msg-bg{
    display: none;
  }
  .close{
    position: absolute;
    top: 0;
    right: 20px;
  }
  /* Nav.js */
}
@media screen and (max-width: 600px){
  /* Nav.js */
  .msg-sm{
    margin-top: 5px;
  }
  /* Nav.js */
}