@import url('https://fonts.googleapis.com/css2?family=Pacifico&display=swap');
*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body{
  background-color: rgb(250, 250, 250);
}
img{
  width: 100%;
  height: auto;
}
.z-depth-1{
  box-shadow: 0 0px 2px 0 rgba(0,0,0,0.14), 0 0px 1px 0px rgba(0,0,0,0.12), 0 0px 5px 0 rgba(0,0,0,0.2);
}
.p-top{
  padding-top: 70px;
}
/* loader */

.loader-bg{
  width: 100%;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}
.loader-main{
  width: 50px;
  height: 50px;
  border-radius: 50%;
  border: 5px solid #FAFAFA;
  border-left: 5px solid purple;
  border-bottom: 5px solid purple;
  animation: loader 1s linear infinite;
}

@keyframes loader {
  0%{
    transform: scale(.5) rotate(0deg);
  }
  50%{
    transform: scale(1) rotate(180deg);
  }
  100%{
    transform: scale(.5) rotate(360deg);
  }
}
.preloader{
  position: absolute;
  height: 100vh;
  width: 100%;
  top: 50%;
  left: 50%;
}
.circle-clipper .circle{
  border-color: #9C27B0;
}

/* loader */
/* Nav.js */
.nav-position{
  position: fixed;
  top: 0;
  left: 0;
  z-index: 99999;
}
.nav-list{
  display: flex;
  align-items: center;
}
.img{
  width: 45px;
  display: flex;
  margin-top: 5px;
}
.menu-icon{
  display: none;
  font-size: 25px;
}
.msg-sm{
  display: none;
}
.nav-list.active{
  left: 0;
}
.devhub-logo{
  font-family: 'Pacifico', cursive;
}
.social-icon{
  display: flex;
  justify-content: center;
}
.social-icon li{
  margin-top: 0 !important;
  padding: 0;
  height: 25px;
}
.social-icon li a{
  line-height: 25px;
  text-align: center;
}
.developer-img{
  position: relative;
  width: 60px;
  margin: 0 auto;
}
.developer-img img{
  border-radius: 50%;
  position: relative;
  top: 25px;
}
.social-media h5{
  font-size: 12px;
  padding: 0;
  margin: 0;
  text-align: center;
  margin-top: 5px;
  color: black;
}
.social-media h4{
  padding: 0;
  margin: 0;
  text-align: center;
}
/* Nav.js */

/* Dashboard */
.dashboard{
  width: 100%;
  max-width: 1000px;
  margin: 0 auto;
}
.project-list .project-summary{
  padding: 10px 5px 0;
}
.welcome-greeting{
  display: flex;
  align-items: center;
  padding: 5px 10px;
  justify-content: center;
}
.take-to-create{
  margin-top: 8px;
  font-size: 20px;
  color: black;
  font-weight: bold;
  background-color: white;
  box-shadow: 0 0 5px rgba(0, 0, 0, .2);
  padding: 10px 20px;
  width: 100%;
  max-width: 200px;
  margin-left: 10px;
}
.user-info{
  display: flex;
  padding: 10px 10px 10px 5px;
  align-items: center;
  justify-content: space-between;
}
.user-detail{
  display: flex;
  align-items: center;
}
.username{
  margin-left: 5px;
  font-weight: bold;
}
.project-content{
  display: flex;
  justify-content: space-between;
}

.no-mg{
  padding: 0 !important;
}
.more-icon{
  font-size: 20px;
  margin-right: 10px;
}
/* Dashboard */

/* Login */
.form{
  padding: 10px 30px;
  width: 100%;
  max-width: 600px;
  margin: 0 auto;
  margin-top: 20px;
}
.form h5{
  font-weight: 600;
}
input[type=text]:not(.browser-default):focus:not([readonly]),
input[type=password]:not(.browser-default):focus:not([readonly]),
input[type=email]:not(.browser-default):focus:not([readonly]),
textarea:not(.browser-default):focus:not([readonly]){
    border-color: purple;
    box-shadow: none;
}
/* Login */

/* Profile */
.avatar{
  background-color: rgb(194, 194, 194);
  width: 70px;
  height: 70px;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
}
.avatar h2{
  margin-bottom: 8px;
  font-weight: 600;
}
.avatar-name{
  padding: 0;
  margin: 0;
}
.profile-detail{
  padding: 20px;
}
.project-done-no{
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.project-done-no button{
  margin-left: 20px;
}
/* Profile */
/* CreateProject */
.progress-bar{
  width: 100%;
  color: purple;
}
.file-field .btn-small{
  height: 2.2rem;
  line-height: 2.2rem;
  margin-top: 1rem;
}
.file-path{
  border-color: purple !important;
  box-shadow: none !important;
}
/* CreateProject */
/* ProjectDetail */
.project-detail{
  width: 100%;
  max-width: 500px;
  margin: 0 auto;

}
.user-detail .username{
  padding-left: 5px;
}
.project-comment-form{
  display: flex;
  align-items: center;
}
/* .project-detail-content{
  padding: 10px;
}
.project-detail-content h6{
  font-weight: bold;
}
.project-detail .project-detail-title{
  padding: 0;
  margin: 0;
}
.project-view{
  margin-bottom: 10px;
} */

.project-content{
  display: flex;
  align-items: center;
}
.project-content span{
  font-weight: 600 !important;
  margin-bottom: 0;
}
.card .card-content{
  padding: 5px 10px 5px;
}
.view-pro{
  margin-left: 10px;
  margin-bottom: 10px;
}

/* ProjectDetail */

/* Profile */
.project-done-no{
  margin-bottom: 10px;
}
/* Profile */

/* Chat.js */
.message{
  width: fit-content;
  max-width: 200px;
  padding: 0 10px;
}
.message span{
  color: black;
}
.message-content{
  padding: 2px 20px;
  margin: 0;
  border-radius: 15px;
  margin-bottom: 20px;
}
.message-user{
  margin-left: auto;
  color: white;
  text-align: left !important;
}

.message-user-card{
  background-color: #9C27B0 !important;
  text-align: left;
}

.message-guest-card{
  background-color: rgb(255, 255, 255) !important;
  color: purple;
  border: 1px solid rgb(187, 187, 187);
}

.user-right{
  float: right;
  margin-right: 5px;
  color: white;
}
.all-msg{
  margin-top: 20px;
}
/* Chat.js */
@media screen and (max-width: 900px){
  /* Nav.js */
  .nav-list{
    width: 250px;
    height: 100vh;
    position: fixed;
    top: 0;
    left: -250px;
    display: flex;
    align-items: center;
    flex-direction: column;
    transition: .4s ease;
    z-index: 999999;
    box-shadow: 0 0 10px rgba(0, 0, 0, .2);
  }
  .nav-list li{
    margin-top: 20px;
    width: 100%;
  }
  .menu-icon{
    display: block;
  }
  .msg-sm{
    display: block;
    margin-top: 10px;
  }
  .msg-bg{
    display: none;
  }
  .close{
    position: absolute;
    top: 0;
    right: 20px;
  }
  .social-icon li{
    margin-top: 0 !important;
    padding: 0;
    height: 25px;
    width: auto;
  }
  /* Nav.js */
}

@media screen and (max-width: 600px){
  /* Nav.js */
  .msg-sm{
    margin-top: 5px;
  }
  /* Nav.js */
  /* Dashboard */
  .welcome-greeting{
    display: block;
  }
  .welcome-greeting h5{
    margin-bottom: 20px;
  }
  /* Dashboard */
}